body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body:before{
  content: '';
  position: fixed;
  width: 150vw;
  height: 400vh;
  background-image: url("store6.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.6);
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"],.box input[type= "Password"]{
  border: 0;
  background:none;
  display: block;
  margin : 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 240px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type= "Password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin : 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover{
  background: #2ecc71;
